@font-face {
    font-family: 'PixelFont';
    src: url('ttf/DOSGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
   margin: 0;
    padding: 0;
    background-color: #0033cc;
    font-family: 'PixelFont', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    overflow: hidden;
}

.container {
    display: flex;
    flex: 1; 
    padding: 30px;
    align-items: flex-start; 
}


.top-bar {
    
    background-color: #c0c0c0 !important; 
    display: flex;
    align-items: center;
    
  
    height: 60px; 
    padding: 0 10px;
    box-sizing: border-box; 

    
    font-family: 'PixelFont', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;

    
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #3a3a3a;
    border-bottom: 4px solid #3a3a3a;

   position: relative;
    z-index: 10;
}



.icon-menu {
    display: flex;
    flex-direction: column;
    gap: 35px; 
    width: 100px;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.icon-item:active {
            transform: scale(0.9);
}

@keyframes iconBounce {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px); 
    }
}


.icon-item:hover img {
   
    animation: iconBounce 0.5s ease infinite;
    filter: brightness(1.2);
}

.icon-item:hover span {
    color: #ffff00;
    text-shadow: 1px 1px 0px #000;
}

.icon-item img {
    width: 70px; 
    height: auto;
    display: block;
    image-rendering: pixelated; 
}

.icon-item span {
    font-size: 20px;
    margin-top: 2px; 
    font-weight: bold;
}

.welcome-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    
    justify-content: flex-start !important; 
    align-items: flex-end !important;
    
    padding-top: 10px; 
    padding-right: 20px;
    height: 100%;
}

.welcome-title {
    font-family: 'PixelFont', sans-serif;
    font-size: 110px;
    margin: 0;
    line-height: 0.9; 
    text-align: right;
}

.welcome-desc {
    font-family: 'PixelFont', sans-serif;
    font-size: 40px;
    text-align: right;
    line-height: 1.1;
    margin-top: 5px;
}

.testing-context {
    position: absolute;
    bottom: 20px;
    right: 50%;
    
    transform: translateX(-50);

    font-family: 'PixelFont', sans-serif;
    font-size: 20px;
    text-align: right;
    line-height: 1.1;
    margin-top: 20px;
    color: yellow;
    white-space: nowrap;
    z-index: 100;
}
